body {
    background-color:#2f2f2f; 
    color: #cbcbcb; 
    display: flex; 
    justify-content: space-between;
}

section {
    padding: 80px;
}

#game {
    width: 50vw;
    height: 60vh;
    border: 1px solid #ccc;
    padding: 5px;
    overflow-y: scroll;
    font-size: large;
}

.simulation {
    position: fixed;
    top: 5%;
    right: 13%;
}
.simulation #simulation {
    width: 90px;
}

#scores {
    position: fixed;
    top: 10%;
    right: 10%;
}

.scoreslist {
    display: grid;
    grid-template-columns: 8fr 2fr 2fr;
}

.loosing {
    color: rgb(202, 33, 33);
}

.weapon {
    color: rgb(253, 181, 74);
}

.shield {
    color: rgb(37, 183, 250);
}

span {
    transition: 2s ease-in-out;
    font-size: x-large;
    font-weight: 800;
}

.chance {
    font-size: large;
    font-weight: initial;
    color: rgb(202, 166, 59);
}

.win {
    color: rgb(38, 224, 38);
    animation-name: win;
    animation-duration: 12s;
    animation-delay: 3s;
}

.death {
    color: rgb(238, 31, 31);
    animation-name: death;
    animation-duration: 12s;
    animation-delay: 3s;
}

@keyframes win {
    from {
      color: rgb(38, 224, 38);
    }
  
    to {
      color: #cbcbcb;
    }
}
  
@keyframes death {
    from {
      color: rgb(238, 31, 31);
    }
  
    to {
      color: #cbcbcb;
    }
}